.YTBP_hidden {
  display: none;
}

.YTBP_wordmark {
  display: block;
  max-width: 130%;
}

.YTBP_selected {
  background: white;
  border-radius: 1.3rem;
}

.YTBP_selected #video-title {
  color: black;
}

ytd-rich-item-renderer.ytd-rich-grid-renderer {
  padding: 2px;
}

ytd-guide-renderer {
  display: none !important;
}

ytd-mini-guide-renderer {
  display: block !important;
}