.YTBP_hidden {
  display: none;
}

.YTBP_wordmark {
  display: block;
  max-width: 130%;
}

.YTBP_selected {
  background: white;
  padding: 2px;
  border-radius: 1.3rem;
}

ytd-guide-renderer {
  display: none !important;
}

ytd-mini-guide-renderer {
  display: block !important;
}