.YTBP_hidden {
  display: none;
}

.YTBP_wordmark {
  display: block;
  max-width: 130%;
}

ytd-guide-renderer {
  display: none !important;
}

ytd-mini-guide-renderer {
  display: block !important;
}